[Desktop Entry]
Version=1.0
Type=Application
Name=SNX Connect
Comment=Cliente de VPN para Check Point SNX
# O comando agora é simples, pois está no PATH do Flatpak
Exec=main.py
# O ícone agora usa o ID da aplicação, que o Flatpak encontrará
Icon=com.github.igorsuzart.snx_connect
Terminal=false
Categories=Network;RemoteAccess;
StartupNotify=true
Name[pt_BR]=SNX Connect
Comment[pt_BR]=Cliente de VPN para Check Point SNX